footer {
    background-color: #393e46;
    color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

@media(min-width: 768px) {
    footer .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
