/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Hide elements from view but leave accessible to screenreaders */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


/*************** 
Base Styles
***************/
body {
  background-color: #ccc;
  color: #1a1a1a;
  font-family: 'Raleway', sans-serif;
}

.page-container {
  background-color: #fff;
  max-width: 1920px;
  margin: auto;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

header {
  padding: 2rem 1rem;
}

header.interior-header {
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
}

header.interior-header .background {
  background: url("./images/interior_header_bkgd.jpg") no-repeat center center;
  background-size: cover;
  opacity: 0.4;
  filter: blur(1.5px);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

header.interior-header h2 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 10px;
  line-height: 1.15;
  color: #73628A;
  position: relative;
  z-index: 100;
}

header.interior-header .diamond-divider-bottom {
  position: absolute;
  bottom: -15px;
  border: 8px double #B9B0C5;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  height: 30px;
  width: 30px;
  background-color: #fff;
}

main {
  padding-bottom: 3rem;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #1A1A1A;
}

/*************** 
Links 
***************/
a {
  text-decoration: none;
  color: #A9B9A6;
}

a:hover,
a:active,
a:focus {
  color: #52734d;
}

.fa-circle {
  color: #fff;
}

i.fa-inverse {
  color: #52734d;
}

i.fa-inverse:hover {
  color: #000;
}

/*************** 
Buttons
***************/
.btn.btn-outline {
  border: 2px solid #52734d;
  border-radius: 0;
  color: #1a1a1a;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  width: fit-content;
  margin: auto;
  padding: 0.5rem 1.5rem;
  position: relative;
  background: none;
  z-index: 1;
  cursor: pointer;
}

.btn.btn-outline.accent {
  border: 2px solid #73628A;
  color: #fff;
}

.fill:hover {
  color: #1a1a1a;
}

.btn.btn-outline.accent.fill:hover {
  color: #fff;
}

.fill:before {
  content: "";
  position: absolute;
  background: #52734d;
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -1;
  transition: right 0.2s ease-in;
}

.btn.btn-outline.accent.fill:before {
  background-color: #73628A;
}

.fill:hover:before {
  right: 0;
}

/*************** 
Images
***************/
a img:hover {
  filter: opacity(0.9);
}

/*************** 
Forms
***************/
input,
textarea {
  border: 1px solid #aaa;
  border-radius: 0;
  padding: 0.5rem;
}

input:focus-visible,
textarea:focus-visible {
  outline-color: #91c788;
  border-radius: 0;
}

/*************** 
Media Queries
***************/
@media (min-width: 768px) {
  .container {
    max-width: 700px;
    margin: auto;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 900px;
  }
}
